.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }



/*Bakgrund*/
.container1{
    background-image: url("../assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg");
    background-size: cover;
    background-position: 10% 20%;
    min-height: 100vh;
}

.container2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/photos/raphael-nogueira-svbDI1Pq30s-unsplash.jpg");
    background-size: cover;
    background-position: 10% 20%;
    min-height: 100vh;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Rubik", sans-serif;
}



/*Menyknapp*/
.menu{
    width: 100%;
    padding: 2px;
    text-align: right;
    position: fixed;
}

button{
    position: relative;
    margin: 10px;
    padding: 10px;
    height: 55px;
    width: 65px;
    border: 0;
    background: transparent;
    cursor: pointer;
}

button span{
    margin-bottom: 6px;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    display: block;
    background-color: black;
}

input{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 55px;
    width: 65px;
    opacity: 0;
    z-index: 2;
}

button span:nth-child(2){
    left: -6px;
    position: relative;
    transition: left 0.3s ease-in-out;
}

button:hover span:nth-child(2){
    left: 0;
}

input:checked + button span{
    position: absolute;
    transition: all 0.3s ease-in-out;
}
/*Animationen till krysset är inte helt klar
strecken hoppar och sätter sig utanför sidan när jag trycker i rutan*/

input:checked + button span:nth-child(2){
    opacity: 0;
}

input:checked + button span:nth-child(1){
    
    transform-origin: center center;
    transform: rotate(45deg);
}

input:checked + button span:nth-child(3){
    
    transform-origin: center center;
    transform: rotate(-45deg);
}



 /*To The Moon Block*/   
.block1p1{
    width: 100px;
    height: 110px;
    margin: 0;
    top: 50px;
    left: 50px;
    padding: 10px;
    border-style: solid;
    background: transparent;
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.6470297591692927) 50%, rgba(255,255,255,0.6526320000656513) 100%);
    text-align: center;
    font-size: 14px;
}

.block1p1 a{
    margin: 0;
    position: absolute;
    top: 100px;
    color: black;
    text-align: left;
    font-size: 9px;
    text-decoration: none;
}
    


/*Sida 2 header*/
.headp2{
    padding-top: 5px;
    padding-left: 50px;
}

.headp2 h2 span:first-of-type{
    color: aliceblue;
    display: block;
    position: relative;
    z-index: 1;
    font-size: 50px;
}

.headp2 h2 span:nth-of-type(2){
    color: lightgrey;
    position: relative;
    top: -40px;
    left: 48px;
    z-index: 0;
    opacity: 60%;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}


/*Sida 2 text 1*/
.text1p2{
    color: white;
    font-size: 10px;
    margin-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    line-height: 170%;
}

.text1p2 h3{
    font-size: 20px;
}



/*Quotes*/
blockquote{
      position: relative;
      display: inline-block;
      color: white; 
      font-size: 15px;
      padding-left: 20px;
      line-height: 170%;
      font-style: italic;
}


.quote::before,.quote::after{
    content: '"';
    display: block;
    position: absolute;
    font-size: 15px;
}

.quote::before{
    top: -10%;
    left: 5%;
}

.quote::after{
    bottom: 5%;
    right: 70%;
}


.hide{
    display: none;
}


/*Sida 2 text 2*/
.text2p2{
    color: white;
    font-size: 10px;
    margin-top: 0;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 170%;
}

.major-tom{
    display: none;
}



/*Media queries*/
@media screen and (min-width: 1024px){
    .container1{
        background-image: url("../assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg");
        background-size: cover;
        background-position: 20% 50%;
        min-height: 100vh;
    
    } 

    .container2{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/photos/raphael-nogueira-svbDI1Pq30s-unsplashD.jpg");
        background-size: cover;
        background-position: 50% 50%;
        min-height: 100vh;
        display: flex;
        gap: 30px;
    }

    /*To The Moon Block*/   
    .block1p1{
        width: 400px;
        height: 400px;
        margin: 0;
        top: 100px;
        left: 100px;
        padding: 15px;
        border-style: solid;
        border-color: black;
        border-width: 5px;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0.6470297591692927) 50%, rgba(255,255,255,0.6526320000656513) 100%);
        position: absolute;
        font-size: 50px;
        text-align: center;
    }

    .block1p1 a{
        margin: 0;
        position: absolute;
        top: 400px;
        left: 200px;
        font-size: 20px;
        color: black;
        text-decoration: none;
    }


    /*Sida 2 header*/
    .headp2{
        padding-top: 5px;
        padding-left: 50px;
        
    }
    
    .headp2 h2 span:first-of-type{
        font-size: 100px;
        font-weight: 600;
    }
    
    .headp2 h2 span:nth-of-type(2){
        font-size: 120px; 
        top: -55px;
        left: 20px;
    }


    .firsthalfp2, .secondhalfp2{
        width: 50%;
        margin: 50px;
    }

    /*Sida 2 text 1*/
    .text1p2{
        font-size: 18px;
    }

    .text1p2 h3{
        font-size: 30px;
    }


    /*Quotes*/
    blockquote{
        font-size: 25px;
    }
  
      .quote::before,.quote::after{
      content: '"';
      display: block;
      position: absolute;
      font-size: 25px;
    }
  
    .quote::before{
        top: -10%;
        left: 3%;
    }
  
    .quote::after{
        bottom: 5%;
        right: 73%;
    }

    .hide{
        display: block;
        background: #D9D99C;
        background: radial-gradient(circle farthest-corner at center center, #D9D99C 0%, #CF1767 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 30%;
        font-size: 38px;
        font-style: italic;
        width: 50%;
        margin-top: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        line-height: 140%;
    }



    /*Sida 2 text 2*/
    .text2p2{
        margin-top: 10px;
        padding: 30px;
        font-size: 18px;
    }

    .major-tom{
        display: block;
        width: 100px;
        height: auto;
        float: right;
        transform: rotate(3deg);
        
    }


}
