section:nth-child(1){
    background-image: url("assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg");
    background-size: cover;
}

section:nth-child(2){
    background-image: url("assets/photos/raphael-nogueira-svbDI1Pq30s-unsplash.jpg");
    background-size: cover;
}

.test{
    min-height: 100vh;
}